BindingGenerator/WSDLs/earthquake.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bt4u.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.bt4u.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://earthquake.usgs.gov/">
      <s:element name="GetScheduledRoutes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stopCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledRoutesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  
  <wsdl:message name="GetScheduledRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledRoutes" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledRoutesResponse" />
  </wsdl:message>
  
  <wsdl:portType name="BT4U_WebServiceSoap">
    <wsdl:operation name="GetScheduledRoutes">
      <wsdl:input message="tns:GetScheduledRoutesSoapIn" />
      <wsdl:output message="tns:GetScheduledRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledRoutesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledRoutesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <wsdl:input message="tns:GetScheduledStopCodesSoapIn" />
      <wsdl:output message="tns:GetScheduledStopCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopCodesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledStopCodesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <wsdl:input message="tns:GetScheduledStopNamesSoapIn" />
      <wsdl:output message="tns:GetScheduledStopNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopNamesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledStopNamesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <wsdl:input message="tns:GetScheduledPatternPointsSoapIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <wsdl:input message="tns:GetScheduledPatternPointsWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <wsdl:input message="tns:GetCurrentBusInfoSoapIn" />
      <wsdl:output message="tns:GetCurrentBusInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <wsdl:input message="tns:GetCurrentBusInfoWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetCurrentBusInfoWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <wsdl:input message="tns:GetCurrentRoutesSoapIn" />
      <wsdl:output message="tns:GetCurrentRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <wsdl:input message="tns:GetCurrentRoutesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetCurrentRoutesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <wsdl:input message="tns:GetNextDeparturesSoapIn" />
      <wsdl:output message="tns:GetNextDeparturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <wsdl:input message="tns:GetNextDeparturesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetNextDeparturesWithXMLSchemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BT4U_WebServiceHttpGet">
    <wsdl:operation name="GetScheduledRoutes">
      <wsdl:input message="tns:GetScheduledRoutesHttpGetIn" />
      <wsdl:output message="tns:GetScheduledRoutesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledRoutesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledRoutesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <wsdl:input message="tns:GetScheduledStopCodesHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopCodesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopCodesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopCodesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <wsdl:input message="tns:GetScheduledStopNamesHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopNamesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopNamesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <wsdl:input message="tns:GetScheduledPatternPointsHttpGetIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <wsdl:input message="tns:GetScheduledPatternPointsWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <wsdl:input message="tns:GetCurrentBusInfoHttpGetIn" />
      <wsdl:output message="tns:GetCurrentBusInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <wsdl:input message="tns:GetCurrentBusInfoWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetCurrentBusInfoWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <wsdl:input message="tns:GetCurrentRoutesHttpGetIn" />
      <wsdl:output message="tns:GetCurrentRoutesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <wsdl:input message="tns:GetCurrentRoutesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetCurrentRoutesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <wsdl:input message="tns:GetNextDeparturesHttpGetIn" />
      <wsdl:output message="tns:GetNextDeparturesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <wsdl:input message="tns:GetNextDeparturesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetNextDeparturesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BT4U_WebServiceHttpPost">
    <wsdl:operation name="GetScheduledRoutes">
      <wsdl:input message="tns:GetScheduledRoutesHttpPostIn" />
      <wsdl:output message="tns:GetScheduledRoutesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledRoutesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledRoutesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <wsdl:input message="tns:GetScheduledStopCodesHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopCodesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopCodesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopCodesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <wsdl:input message="tns:GetScheduledStopNamesHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopNamesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopNamesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <wsdl:input message="tns:GetScheduledPatternPointsHttpPostIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <wsdl:input message="tns:GetScheduledPatternPointsWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <wsdl:input message="tns:GetCurrentBusInfoHttpPostIn" />
      <wsdl:output message="tns:GetCurrentBusInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <wsdl:input message="tns:GetCurrentBusInfoWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetCurrentBusInfoWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <wsdl:input message="tns:GetCurrentRoutesHttpPostIn" />
      <wsdl:output message="tns:GetCurrentRoutesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <wsdl:input message="tns:GetCurrentRoutesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetCurrentRoutesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <wsdl:input message="tns:GetNextDeparturesHttpPostIn" />
      <wsdl:output message="tns:GetNextDeparturesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <wsdl:input message="tns:GetNextDeparturesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetNextDeparturesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BT4U_WebServiceSoap" type="tns:BT4U_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduledRoutes">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopCodesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopNamesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledPatternPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledPatternPointsWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentBusInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentBusInfoWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <soap:operation soapAction="http://www.bt4u.org/GetNextDepartures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetNextDeparturesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BT4U_WebServiceSoap12" type="tns:BT4U_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduledRoutes">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopCodesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopNamesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledPatternPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledPatternPointsWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentBusInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentBusInfoWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <soap12:operation soapAction="http://www.bt4u.org/GetNextDepartures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetNextDeparturesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BT4U_WebServiceHttpGet" type="tns:BT4U_WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetScheduledRoutes">
      <http:operation location="/GetScheduledRoutes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <http:operation location="/GetScheduledRoutesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <http:operation location="/GetScheduledStopCodes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <http:operation location="/GetScheduledStopCodesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <http:operation location="/GetScheduledStopNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <http:operation location="/GetScheduledStopNamesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <http:operation location="/GetScheduledPatternPoints" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <http:operation location="/GetScheduledPatternPointsWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <http:operation location="/GetCurrentBusInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <http:operation location="/GetCurrentBusInfoWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <http:operation location="/GetCurrentRoutes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <http:operation location="/GetCurrentRoutesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <http:operation location="/GetNextDepartures" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <http:operation location="/GetNextDeparturesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BT4U_WebServiceHttpPost" type="tns:BT4U_WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetScheduledRoutes">
      <http:operation location="/GetScheduledRoutes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <http:operation location="/GetScheduledRoutesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <http:operation location="/GetScheduledStopCodes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <http:operation location="/GetScheduledStopCodesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <http:operation location="/GetScheduledStopNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <http:operation location="/GetScheduledStopNamesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <http:operation location="/GetScheduledPatternPoints" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <http:operation location="/GetScheduledPatternPointsWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <http:operation location="/GetCurrentBusInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <http:operation location="/GetCurrentBusInfoWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <http:operation location="/GetCurrentRoutes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <http:operation location="/GetCurrentRoutesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <http:operation location="/GetNextDepartures" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <http:operation location="/GetNextDeparturesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BT4U_WebService">
    <wsdl:port name="BT4U_WebServiceSoap" binding="tns:BT4U_WebServiceSoap">
      <soap:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BT4U_WebServiceSoap12" binding="tns:BT4U_WebServiceSoap12">
      <soap12:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BT4U_WebServiceHttpGet" binding="tns:BT4U_WebServiceHttpGet">
      <http:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BT4U_WebServiceHttpPost" binding="tns:BT4U_WebServiceHttpPost">
      <http:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>