BindingGenerator/refs/axis-bin-1_4/axis-1_4/busTracker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.bt4u.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.bt4u.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.bt4u.org/">
      <s:element name="GetScheduledRoutes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stopCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledRoutesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledRoutesWithXMLSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="stopCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledRoutesWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledRoutesWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopCodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeShortName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopCodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledStopCodesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopCodesWithXMLSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeShortName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopCodesWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledStopCodesWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeShortName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledStopNamesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopNamesWithXMLSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeShortName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledStopNamesWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledStopNamesWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledPatternPoints">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledPatternPointsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledPatternPointsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledPatternPointsWithXMLSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetScheduledPatternPointsWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetScheduledPatternPointsWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentBusInfo">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentBusInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentBusInfoResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentBusInfoWithXMLSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentBusInfoWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentBusInfoWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRoutes">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentRoutesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentRoutesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCurrentRoutesWithXMLSchema">
        <s:complexType />
      </s:element>
      <s:element name="GetCurrentRoutesWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCurrentRoutesWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextDepartures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeShortName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stopCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextDeparturesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextDeparturesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextDeparturesWithXMLSchema">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="routeShortName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stopCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNextDeparturesWithXMLSchemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNextDeparturesWithXMLSchemaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetScheduledRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledRoutes" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledRoutesWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledRoutesWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledStopCodes" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledStopCodesResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledStopCodesWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledStopCodesWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledStopNames" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledStopNamesResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledStopNamesWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledStopNamesWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledPatternPoints" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledPatternPointsResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetScheduledPatternPointsWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetScheduledPatternPointsWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentBusInfo" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentBusInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentBusInfoWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentBusInfoWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentRoutes" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentRoutesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetCurrentRoutesWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetCurrentRoutesWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextDepartures" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextDeparturesResponse" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesWithXMLSchemaSoapIn">
    <wsdl:part name="parameters" element="tns:GetNextDeparturesWithXMLSchema" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesWithXMLSchemaSoapOut">
    <wsdl:part name="parameters" element="tns:GetNextDeparturesWithXMLSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesHttpGetIn">
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesWithXMLSchemaHttpGetIn">
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesHttpGetIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesWithXMLSchemaHttpGetIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesHttpGetIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesWithXMLSchemaHttpGetIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsHttpGetIn">
    <wsdl:part name="routeName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsWithXMLSchemaHttpGetIn">
    <wsdl:part name="routeName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoHttpGetIn" />
  <wsdl:message name="GetCurrentBusInfoHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoWithXMLSchemaHttpGetIn" />
  <wsdl:message name="GetCurrentBusInfoWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesHttpGetIn" />
  <wsdl:message name="GetCurrentRoutesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesWithXMLSchemaHttpGetIn" />
  <wsdl:message name="GetCurrentRoutesWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesHttpGetIn">
    <wsdl:part name="routeShortName" type="s:string" />
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesWithXMLSchemaHttpGetIn">
    <wsdl:part name="routeShortName" type="s:string" />
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesWithXMLSchemaHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesHttpPostIn">
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesWithXMLSchemaHttpPostIn">
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledRoutesWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesHttpPostIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesWithXMLSchemaHttpPostIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopCodesWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesHttpPostIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesWithXMLSchemaHttpPostIn">
    <wsdl:part name="routeShortName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledStopNamesWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsHttpPostIn">
    <wsdl:part name="routeName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsWithXMLSchemaHttpPostIn">
    <wsdl:part name="routeName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetScheduledPatternPointsWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoHttpPostIn" />
  <wsdl:message name="GetCurrentBusInfoHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentBusInfoWithXMLSchemaHttpPostIn" />
  <wsdl:message name="GetCurrentBusInfoWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesHttpPostIn" />
  <wsdl:message name="GetCurrentRoutesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetCurrentRoutesWithXMLSchemaHttpPostIn" />
  <wsdl:message name="GetCurrentRoutesWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesHttpPostIn">
    <wsdl:part name="routeShortName" type="s:string" />
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesWithXMLSchemaHttpPostIn">
    <wsdl:part name="routeShortName" type="s:string" />
    <wsdl:part name="stopCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetNextDeparturesWithXMLSchemaHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="BT4U_WebServiceSoap">
    <wsdl:operation name="GetScheduledRoutes">
      <wsdl:input message="tns:GetScheduledRoutesSoapIn" />
      <wsdl:output message="tns:GetScheduledRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledRoutesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledRoutesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <wsdl:input message="tns:GetScheduledStopCodesSoapIn" />
      <wsdl:output message="tns:GetScheduledStopCodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopCodesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledStopCodesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <wsdl:input message="tns:GetScheduledStopNamesSoapIn" />
      <wsdl:output message="tns:GetScheduledStopNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopNamesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledStopNamesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <wsdl:input message="tns:GetScheduledPatternPointsSoapIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <wsdl:input message="tns:GetScheduledPatternPointsWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <wsdl:input message="tns:GetCurrentBusInfoSoapIn" />
      <wsdl:output message="tns:GetCurrentBusInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <wsdl:input message="tns:GetCurrentBusInfoWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetCurrentBusInfoWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <wsdl:input message="tns:GetCurrentRoutesSoapIn" />
      <wsdl:output message="tns:GetCurrentRoutesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <wsdl:input message="tns:GetCurrentRoutesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetCurrentRoutesWithXMLSchemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <wsdl:input message="tns:GetNextDeparturesSoapIn" />
      <wsdl:output message="tns:GetNextDeparturesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <wsdl:input message="tns:GetNextDeparturesWithXMLSchemaSoapIn" />
      <wsdl:output message="tns:GetNextDeparturesWithXMLSchemaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BT4U_WebServiceHttpGet">
    <wsdl:operation name="GetScheduledRoutes">
      <wsdl:input message="tns:GetScheduledRoutesHttpGetIn" />
      <wsdl:output message="tns:GetScheduledRoutesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledRoutesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledRoutesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <wsdl:input message="tns:GetScheduledStopCodesHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopCodesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopCodesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopCodesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <wsdl:input message="tns:GetScheduledStopNamesHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopNamesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopNamesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledStopNamesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <wsdl:input message="tns:GetScheduledPatternPointsHttpGetIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <wsdl:input message="tns:GetScheduledPatternPointsWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <wsdl:input message="tns:GetCurrentBusInfoHttpGetIn" />
      <wsdl:output message="tns:GetCurrentBusInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <wsdl:input message="tns:GetCurrentBusInfoWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetCurrentBusInfoWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <wsdl:input message="tns:GetCurrentRoutesHttpGetIn" />
      <wsdl:output message="tns:GetCurrentRoutesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <wsdl:input message="tns:GetCurrentRoutesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetCurrentRoutesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <wsdl:input message="tns:GetNextDeparturesHttpGetIn" />
      <wsdl:output message="tns:GetNextDeparturesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <wsdl:input message="tns:GetNextDeparturesWithXMLSchemaHttpGetIn" />
      <wsdl:output message="tns:GetNextDeparturesWithXMLSchemaHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BT4U_WebServiceHttpPost">
    <wsdl:operation name="GetScheduledRoutes">
      <wsdl:input message="tns:GetScheduledRoutesHttpPostIn" />
      <wsdl:output message="tns:GetScheduledRoutesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledRoutesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledRoutesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <wsdl:input message="tns:GetScheduledStopCodesHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopCodesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopCodesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopCodesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <wsdl:input message="tns:GetScheduledStopNamesHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopNamesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <wsdl:input message="tns:GetScheduledStopNamesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledStopNamesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <wsdl:input message="tns:GetScheduledPatternPointsHttpPostIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <wsdl:input message="tns:GetScheduledPatternPointsWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetScheduledPatternPointsWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <wsdl:input message="tns:GetCurrentBusInfoHttpPostIn" />
      <wsdl:output message="tns:GetCurrentBusInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <wsdl:input message="tns:GetCurrentBusInfoWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetCurrentBusInfoWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <wsdl:input message="tns:GetCurrentRoutesHttpPostIn" />
      <wsdl:output message="tns:GetCurrentRoutesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <wsdl:input message="tns:GetCurrentRoutesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetCurrentRoutesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <wsdl:input message="tns:GetNextDeparturesHttpPostIn" />
      <wsdl:output message="tns:GetNextDeparturesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <wsdl:input message="tns:GetNextDeparturesWithXMLSchemaHttpPostIn" />
      <wsdl:output message="tns:GetNextDeparturesWithXMLSchemaHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BT4U_WebServiceSoap" type="tns:BT4U_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduledRoutes">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopCodesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledStopNamesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledPatternPoints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetScheduledPatternPointsWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentBusInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentBusInfoWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentRoutes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetCurrentRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <soap:operation soapAction="http://www.bt4u.org/GetNextDepartures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <soap:operation soapAction="http://www.bt4u.org/GetNextDeparturesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BT4U_WebServiceSoap12" type="tns:BT4U_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduledRoutes">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopCodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopCodesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledStopNamesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledPatternPoints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetScheduledPatternPointsWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentBusInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentBusInfoWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentRoutes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetCurrentRoutesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <soap12:operation soapAction="http://www.bt4u.org/GetNextDepartures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <soap12:operation soapAction="http://www.bt4u.org/GetNextDeparturesWithXMLSchema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BT4U_WebServiceHttpGet" type="tns:BT4U_WebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetScheduledRoutes">
      <http:operation location="/GetScheduledRoutes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <http:operation location="/GetScheduledRoutesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <http:operation location="/GetScheduledStopCodes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <http:operation location="/GetScheduledStopCodesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <http:operation location="/GetScheduledStopNames" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <http:operation location="/GetScheduledStopNamesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <http:operation location="/GetScheduledPatternPoints" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <http:operation location="/GetScheduledPatternPointsWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <http:operation location="/GetCurrentBusInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <http:operation location="/GetCurrentBusInfoWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <http:operation location="/GetCurrentRoutes" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <http:operation location="/GetCurrentRoutesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <http:operation location="/GetNextDepartures" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <http:operation location="/GetNextDeparturesWithXMLSchema" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BT4U_WebServiceHttpPost" type="tns:BT4U_WebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetScheduledRoutes">
      <http:operation location="/GetScheduledRoutes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledRoutesWithXMLSchema">
      <http:operation location="/GetScheduledRoutesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodes">
      <http:operation location="/GetScheduledStopCodes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopCodesWithXMLSchema">
      <http:operation location="/GetScheduledStopCodesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNames">
      <http:operation location="/GetScheduledStopNames" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledStopNamesWithXMLSchema">
      <http:operation location="/GetScheduledStopNamesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPoints">
      <http:operation location="/GetScheduledPatternPoints" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetScheduledPatternPointsWithXMLSchema">
      <http:operation location="/GetScheduledPatternPointsWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfo">
      <http:operation location="/GetCurrentBusInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentBusInfoWithXMLSchema">
      <http:operation location="/GetCurrentBusInfoWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutes">
      <http:operation location="/GetCurrentRoutes" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentRoutesWithXMLSchema">
      <http:operation location="/GetCurrentRoutesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDepartures">
      <http:operation location="/GetNextDepartures" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextDeparturesWithXMLSchema">
      <http:operation location="/GetNextDeparturesWithXMLSchema" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BT4U_WebService">
    <wsdl:port name="BT4U_WebServiceSoap" binding="tns:BT4U_WebServiceSoap">
      <soap:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BT4U_WebServiceSoap12" binding="tns:BT4U_WebServiceSoap12">
      <soap12:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BT4U_WebServiceHttpGet" binding="tns:BT4U_WebServiceHttpGet">
      <http:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
    <wsdl:port name="BT4U_WebServiceHttpPost" binding="tns:BT4U_WebServiceHttpPost">
      <http:address location="http://www.bt4u.org/BT4U_Webservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>